body {
    font-family: Arial, sans-serif;
    background-color: #ece5dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 400px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    display: flex ;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #e5ddd5;
}

.message {
    max-width: 75%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    font-size: 14px;
}

.sent {
    background-color: #dcf8c6;
    margin-left: auto;
    text-align: right;
}


.received {
    background-color: #fff;
    margin-right: auto;
    text-align: left;
}

.chat-input {
    display: flex;
    padding: 25px;
    background-color: #f1f1f1;
    border-top: 2px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #22b058;
}
